
#main{
	height: 100%;
	padding: 0;
	margin:0;
}
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #F2EEE8;
}

#main header {

	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: white;
	box-shadow:3px 3px 5px 2px #b7b7b7; 
	max-height: 70px;
}

#main header form{
	display: flex;
	margin: auto;	

}

#main header form input[type=text]{
	font-size: 22px;
	border:none;
	border-bottom: thin solid silver;
}

#main header form input[type=text]:focus{
	 outline: none;
}

#main header form input[type=image]{
	/*background-color: #1FA1F1;*/
	max-width: 30px;
	max-height: 30px;
	color:white;
}

#main header div{
	margin-top:auto;
	margin-bottom: auto;

}
#main header a{
	text-decoration: none;
	color:black;
}
#main aside ul a{
	text-decoration: none;
	color:white;
}

#main header img {
	max-width: 65px;
	max-height: 65px;
}

#main #logout{
	max-width: 35px;
	max-height: 35px;
}

body #main {
  position: relative;
  margin: 0;
  font-family:  'Open Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background-color:#F2EEE8;

}

#main aside{
	background-color: #1FA1F1;
	color:white;
	width:32vh;
	margin-top: 70px; /*60*/ 
	position: fixed;
	height:100vh;
	
}

#main aside ul{
	flex-direction:column;
	flex-wrap:wrap;
	list-style: none;
	font-size: 3.5vh;
}

#main aside h1{
	text-align: center;
}

#main section{
	margin-top: 60px;
	margin-left:35vh;
}
#main section > h1 {
	display: none;
}


#main #container{
	display: flex;
	align-items:stretch;
}

#main #cont_message{
	margin-top: 5vh;
	margin-left: 6vh;
}	

#main #post_message{
	
	margin-top: 5vh;
	margin-left: 6vh;
	background-color: #1FA1F1;
	box-shadow:3px 3px 5px 1px #ccc;  /* ombre 4eme opt taille shadow */
	max-height: 70px;
	min-width: 85vh; /**<---------*/
}

#main #post_message input[type=submit]{
	color:white;
	background-color: #0b6ca8;
	border: none;
	
	min-height: 45px;
	min-width: 45px;

	max-height: 45px!important;
	max-width: 45px!important;
	font-size:30px;

}
#main #post_message input[type=text]{
	width: 85%;
	background-color: #1FA1F1;
	color:white;
	border: none;
	margin:auto;
	font-size: 30px;
}
#main #post_message input[type=text]{
	outline: none;
}


/*changer la color du placeholder*/
#main #post_message input[type=text]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   white;
}
#main #post_message input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
#main #post_message input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   white;
   opacity:  1;
}
#main #post_message input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

#main div > ul{

	list-style: none;
	padding: 0;
	box-shadow:3px 3px 5px 1px #ccc;  /* ombre 4eme opt taille shadow */
	max-width: 90vh;
	background-color: white;
	
}

#main .message a{
	text-decoration: none;
	color: #333333;
}

#main .message p{
	font-family: 'Open Sans', sans-serif;
	text-overflow: ellipsis;
	color: #2d2d2d;
}	



#main .message{
	border: 15px solid white;
	background: #ffffff;
	border-bottom: 1px solid grey;
	min-width: 85vh;  /*<------ */
	
}
#main .message img{
	max-width: 31px;
	max-height: 31px;
}
#main .message form{
	display: inline;

}

#main .message input[type=text]{
	width: 85%;
}
#main .message ul{
	background-color: #F2EEE8;
}

#main .message_like{
	font-family: 'Open Sans', sans-serif;
	color:#D90022!important;
	margin-right: 18px;
}

#main .message_comment{
	font-family: 'Open Sans', sans-serif;
	color: #0066cc!important;
	margin-left: 4px;
}

#main .message_footer{
	display: flex;
	align-items:center;
}

#main .message_footer_comment p{
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
}
#main .showCommentButton{
	float:right;
	margin-right: 1vh;
}
#main .removePostButton{
	float:right;
	margin-right: 1vh;
	margin-left: auto;
	color: red;
}
#main .liste_message_comment {
	padding: 0;
    list-style-type: none;
}


#main .dateMessage{
	font-family: 'Open Sans', sans-serif;
	color:grey;
	float: right;
}
#main .dateComment{
	color:dimgray;
}
#main .buttonFriends{
	background-color:#1FA1F1;
	color:white;
	border:none;
	cursor: pointer;
	margin:auto;
 	display:block;
 }
#main .buttonFriendsAside{
	background-color:white;
	color:#1FA1F1;
	border:none;
	cursor: pointer;
	margin:auto;
 	display:block;
 	width: 20vh;
    height: 3vh;
 }
 


/*
a mettre dans un elmt
-webkit-animation: spin 1s infinite linear;


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
/*
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
*/

